header{
  background-color: lightskyblue;
}
main{
  h3{
    font-family: monospace;
  }
}
form{
  #email{
    background-color: lightgrey;
  }
  #first-name, #other-names{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}